

.gallery{
    min-height: 100vh;
  
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;


}

.gallery .controls .buttons{
    height:40px;
    width: 120px;
    background-color:#e0bbd2;
    color:#572649;
    border-color: #572649;
    font-size: 70px;
    line-height: 40px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
 
}

.gallery .controls .buttons.active{
    background:#572649;
    color:#572649;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   }

.gallery .image-container .image{
    height:250px;
    width: 300px;
    overflow: hidden;
    border:8px solid black;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}

.h1tag{
  font-size: 50px;
  font-family: cursive; 
  color:#572649 ;
  padding-top: 30px;
}

